[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "libcuckoo"]
	path = libcuckoo
	url = https://github.com/efficient/libcuckoo.git
[submodule "pim_base"]
	path = pim_base
	url = https://github.com/Loremkang/pim_base.git
